.cardd{
  background-color: white;
  border-radius: 6px;
  padding:10px;
  border:none;
}
.cardd .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardd .top i{
  font-size: 20px;
  background-color: rgba(244, 112, 112, 0.726);
  padding:10px;
  border-radius: 50%;
}
.cardd h3{
  font-size: 16px;
  margin-bottom: 0;
}
.cardd .top h3{
  font-size: 18px;
}

