<div class="container p-3 my-3">
  <div class="white p-3 mb-3">
    <h3 class="mb-3">الصلاحيات</h3>
    <div class="d-flex justify-content-between">
      <div>
        <i class="fa-solid fa-house"></i>
        <i class="fa-solid fa-angle-left mx-3"></i>
        <span class="fw-bold">الصلاحيات</span>
      </div>
      <button class="btn btn-primary">إضافه صلاحيه</button>
    </div>
  </div>
  <div class="white p-2 p-lg-3 mb-3 d-flex justify-content-center flex-column">
    <h3 class="mb-3">الصلاحيات</h3>
    <div class="mb-3 d-flex justify-content-center">
      <button class="btn btn-primary ms-2">بحث</button>
      <input
        type="text"
        name=""
        placeholder="بحث"
        class="form-control"
        style="max-width: 200px"
      />
    </div>
    <div class="tableRes d-flex justify-content-center">
      <table class="table table-bordered" style="max-width: 90%">
        <thead>
          <tr class="table-secondary text-dark text-center">
            <th scope="col">#</th>
            <th scope="col">إسم الصلاحية</th>
            <th scope="col">الاعدادات</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let role of roles; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ role.name }}</td>
            <td>
              <!-- <button class="btn btn-primary mx-1"><i class="fa-solid fa-gear"></i></button>
              <button class="btn btn-danger mx-1"><i class="fa-regular fa-trash-can"></i></button> -->
              <button class="btn btn-success mx-1" (click)="toEdit(role.name)">
                <i class="fa-solid fa-pencil"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
