<div class="container p-3 my-3">
  <div class="white p-3 mb-3">
    <h3 class="mb-3">الصلاحيات</h3>
    <div>
      <i class="fa-solid fa-house"></i>
      <i class="fa-solid fa-angle-left mx-3"></i>
      <span class="fw-bold">الصلاحيات</span>
      <i class="fa-solid fa-angle-left mx-3"></i>
      <span class="fw-bold">تعديل صلاحيات </span>
    </div>
  </div>
  <div class="white p-2 p-lg-3 mb-3 d-flex justify-content-center flex-column">
    
    <div class="d-flex justify-content-center">
      <table class="table table-bordered" style="max-width: 90%;">
        <thead>
          <tr class="table-secondary text-dark text-center">
            <th scope="col">#</th>
            <th scope="col">الصلاحيه</th>
            <th scope="col">إضافه</th>
            <th scope="col">حذف</th>
            <th scope="col">تعديل</th>
            <th scope="col">عرض</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let row of rows;let i=index" class="text-center">
            <td>{{i+1}}</td>
            <td>{{row.screenName}}</td>
            <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="row.add"></td>
            <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="row.delete"></td>
            <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="row.update"></td>
            <td><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [checked]="row.get"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
